<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <% if(is_logined==false){ %>
  <table width = "30%">
    <tr>
      <td><a href="/">Home</a></td>
      <td><a href="/login">로그인</a></td>
      <td><a href="/register">회원가입</a></td>
    </tr>
  </table>
  <% }else{ %>
  <table width = 30%>
    <tr>
      <td><a href="/index/<%= id %>">Home</a></td>
      <td><a href="/list/<%= id %>">거래내역</a></td>
      <td>
        <%= name %> 님 환영합니다!
      </td>
      <td><a href="/logout">로그아웃</a></td>
    </tr>
  </table>
  <% } %>

  <div>
    <h1>Node Mall</h1>
  </div>
</body>
</html>